<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Monadic Chat</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="css/pigments-default.css" rel="stylesheet">
    <link href="css/monadic.css" rel="stylesheet">
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-light fixed-top shaded-y" style="height: 108px; border-bottom: 3.5px solid #777; background-color: #eeeeee;">
      <div class="container-fluid pt-0">
        <a class="navbar-brand">
          <div style="margin-left: 6px; margin-top: -10px; font-weight: 500; font-family: 'Montserrat', sans-serif; letter-spacing: 0.2em;" >
            <img src="img/monadic-logo.svg" style="width: 2em; vertical-align:middle;"></img>
            <span style="color: #666; font-size: 1.7em; vertical-align:middle;">Monadic</span>
            <span style="color: #ffc107; filter:drop-shadow(1px 1px 0px #999); font-weight: bold; font-size: 2.0em; position: relative; bottom: -0.15em;">⸬</span>
            <span style="color: #666; font-size: 1.7em; vertical-align:middle;">Chat</span>
          </div>
          <div id="tagline" style="margin-left: 6px; font-size: 0.8em; color: #777; font-family: 'Montserrat';" class="d-none d-md-block">A highly configurable Ruby framework for creating intelligent chatbots</div>
        </a>

        <button type="button" id="toggle-menu">
          <span class="navbar-toggler-icon"></span>
        </button>

      </div>
    </nav>

    <div class="container-fluid pt-0 p-3" id="contents" style="margin-top: 108px;">
      <div class="row g-3 mt-3 my-3">
        <div id="menu" class="col-md-4 order-md-2 scrollable" style="padding-bottom: 20px;">

          <div id="monadic-info-panel" class="p-3 mb-3 rounded shaded-panel">
            <h5 class="pb-2 mb-1"><span class="text"><i class="fas fa-message"></i></span> Monadic Chat Info</h5>

            <div class="mb-2" style="display: flex; align-items: center;">
              <div id="monadic-homepage">
                <span class="text text-secondary"><i class="fa-solid fa-house"></i> <a href="https://yohasebe.github.io/monadic-chat/overview" target="_blank" rel="noopener noreferrer">Homepage</a></span>
                &nbsp;&nbsp;
                <span class="text text-secondary"><i class="fa-brands fa-github"></i> <a href="https://github.com/yohasebe/monadic-chat" target="_blank" rel="noopener noreferrer">GitHub</a></span>
                &nbsp;&nbsp;
                <span class="text text-secondary"><i class="fa-solid fa-chart-column"></i> <a href="https://platform.openai.com/account/usage" target="_blank" rel="noopener noreferrer">API Usage</a></span>
              </div>
            </div>
            <div class="mb-4" style="display: flex; align-items: center;">
              <div id="monadic-version">
                <span class="text text-secondary"><i class="fa-solid fa-circle-info"></i> Version:</span> <span class="text text-secondary" id="monadic-version-number"></span>
              </div>
            </div>

            <h5 class="pb-2"><span class="text"><i class="fas fa-bolt"></i></span> Current Base App</h5>
            <div style="display: flex; align-items: center;">
              <div class="icon-container">
                <span id="base-app-icon" class="app-icon"></span>
              </div>
              <div id="base-app-title" class="ms-2 like-h3">
              </div>
            </div>
            <div id="base-app-desc" class="mt-3 mb-1"></div>
          </div>

          <div id="pdf-panel" class="p-3 mb-3 rounded shaded-panel" style="display: none;">
            <h5 class="pb-2"><span class="text"><i class="fas fa-database"></i></span> PDF Database</h5>
            <div class="mt-3" id="pdf-titles"></div>
          </div>

          <div id="control-panel" class="p-3 mb-3 rounded shaded-panel">
            <h5 class=""><span class="text"><i class="fas fa-file"></i> Session</span></h5>
            <button class="btn btn-sm btn-warning m-2 ms-0" id="reset"><i class="fas fa-stop" ></i> Reset</button>
            <button class="btn btn-sm btn-warning m-2 ms-0" id="load"><i class="fas fa-file-import"></i> Import</button>
            <button class="btn btn-sm btn-warning m-2 ms-0" id="save"><i class="fas fa-file-export"></i> Export</button>
            <input type="file" id="fileInput" style="display:none;">
            <p class="my-2"> Press "reset" to clear conversation and go back to the default "chat" app.</p>

            <div id="back-to-settings" style="display: none;">
            <button class="btn btn-sm btn-warning ms-0" id="settings"><i class="fas fa-bars"></i> Settings</button>
            <p class="my-2"> Press "settings" to go back to GPT settings.</p>
            </div>

            <h5 class="mt-3"><span class="text"><i class="fas fa-chart-line"></i> Status</span></h5>
            <div id="alert-message"></div>
          </div>

          <div id="tts-panel" class="p-3 mb-3 rounded shaded-panel">
            <h5 class=""><span class="text"><i class="fas fa-comment-dots"></i> Speech</span></h5>


            <div class="form-check form-switch my-3">
              <label class="form-check-label" for="tts-quality">Use HD voice</label>
              <input class="form-check-input" type="checkbox" id="tts-quality">
            </div>

            <div class="my-1">
              <label for="tts-voice" class="div-label my-2">Voice</label>
              <select class="form-select" id="tts-voice">
                <option value="alloy">Alloy</option>
                <option value="echo">Echo</option>
                <option value="fable">Fable</option>
                <option value="onyx">Onyx</option>
                <option value="nova">Nova</option>
                <option value="shimmer">Shimmer</option>
              </select>
            </div>
            <div class="my-1">
              <label for="tts-speed" class="div-label my-2">Speed (<span id="tts-speed-value">1.0</span>)</label><br />
              <input type="range" class="div-range" min="0.25" max="4.0" step="0.05" value="1.0" id="tts-speed">
            </div>
          </div>

          <!--
          <div id="tts-panel" class="p-3 mb-3 rounded shaded-panel">
            <h5 class=""><span class="text"><i class="fas fa-comment-dots"></i> Speech</span></h5>

            <div class="form-check form-switch my-3">
              <label class="form-check-label" for="auto-lang">Automatic Language Detect</label>
              <input class="form-check-input" type="checkbox" id="auto-lang" checked>
            </div>

            <div class="my-1">
              <label for="speech-lang" class="div-label my-2">Language</label>
              <select class="form-select" id="speech-lang" disabled></select>
            </div>
            <div class="my-1">
              <label for="speech-voice" class="div-label my-2">Voice</label>
              <select class="form-select" id="speech-voice" disabled></select>
            </div>
            <div class="my-1">
              <label for="speech-rate" class="div-label my-2">Rate (<span id="speech-rate-value">1.0</span>)</label><br />
              <input type="range" class="div-range" min="0.5" max="1.5" step="0.1" value="1.0" id="speech-rate">
            </div>
          </div>
          -->

          <div id="parameter-panel" class="p-3 my-3 rounded shaded-panel" style="display: none;">
            <h5><span class="text"><i class="fas fa-sliders"></i> Parameters</span></h5>
            <ul id="paramList" class="list-group list-group-flush mt-3"></ul>
          </div>

          <div class="mx-2 me-1" style="display: flex; align-items: center; justify-content: right;">
            <div id="author">
              <span class="text text-secondary"><i class="fa-solid fa-copyright"></i> Yoichiro HASEBE 2023 </span>
            </div>
          </div>
        </div>

        <div id="main" class="col-md-8 order-md-1 scrollable" style="padding-bottom: 20px;">
          <div id="config" class="rounded p-3 shaded-panel">
            <h5 class="pb-2" style="color: #777;"><span class="text"><i class="fa-solid fa-bars"></i> GPT Settings</span></h5>

            <form id="api-token-form" class="row my-3" style="display: none;">
              <div class="col-4">
                  <label class="form-label" for="api-token">API Token</label>
                  <input type="password" autocomplete="on" id="api-token" class="form-control" placeholder="OPENAI_API_KEY" />
              </div>
              <div class="col-auto" >
                <label class="form-label" for="check-token" style="color: transparent;">□</label>
                <div><button class="btn btn-warning me-2 text-nowrap" id="check-token">Verify Token</button></div>
              </div>
            </form>

            <form class="row my-3">
              <div class="col-4">
                <label class="form-label" for="apps">Base App</label>
                <select class="form-select me-3" id="apps" ></select>
              </div>
              <div class="col-8" id="pdf-div" style="display: none;">
                <div class="row">
                  <div class="col-auto">
                    <label class="form-label" for="pdf" style="color: transparent;">□</label>
                    <div><button class="btn btn-warning text-nowrap" id="pdf"><i class="fas fa-file-pdf"></i> Import PDF</button></div>
                  </div>
                </div>
              </div>
            </form>

            <form class="row my-3">
              <div class="col-5 pe-0">
                <label for="model" class="form-label text-nowrap">Select Model</label>
                <select class="form-select me-3" id="model" ></select>
              </div>
              <div class="col-2 ms-3">
                <label class="form-label text-nowrap" for="max-tokens">Max Tokens</label>
                <input type="number" id="max-tokens" stop="1" min="100" max="16000" value="1000" class="form-control" />
              </div>

              <div class="col-2 ms-2">
                <label class="form-label text-nowrap" for="context-size">Context Size</label>
                <input type="number" id="context-size" min="1" max="100" stop="1" value="10" class="form-control" />
              </div>
            </form>

            <form class="row my-3">
              <div class="col-3">
                <label for="temperature" class="div-labe my-2">Temperature<br />(<span id="temperature-value">0.3</span>)</label><br />
                <input type="range" class="div-range" min="0.0" max="1.0" step="0.1" value="0.3" id="temperature" style="max-width: 100%;">
              </div>

              <div class="col-3">
                <label for="top-p" class="div-label my-2">Top P<br />(<span id="top-p-value">0.0</span>)</label><br />
                <input type="range" class="div-range" min="0.0" max="1.0" step="0.1" value="0.0" id="top-p" style="max-width: 100%;">
              </div>

              <div class="col-3">
                <label for="presence-penalty" class="div-label my-2">Presence<br />Penalty (<span id="presence-penalty-value">0.0</span>)</label><br />
                <input type="range" class="div-range" min="-2.0" max="2.0" step="0.1" value="0.0" id="presence-penalty" style="max-width: 100%;">
              </div>

              <div class="col-3">
                <label for="frequency-penalty" class="div-label my-2">Frequency<br />Penalty (<span id="frequency-penalty-value">0.0</span>)</label><br />
                <input type="range" class="div-range" min="-2.0" max="2.0" step="0.1" value="0.0" id="frequency-penalty" style="max-width: 100%;">
              </div>
            </form>

            <div class="row my-3">
              <div id="config-initial-prompt" class="">
                <label for="initial-prompt" class="form-label">Initial Prompt</label>
                <textarea class="form-control" style="resize: vertical;" id="initial-prompt" rows="5"></textarea>
              </div>
            </div>

            <div class="row my-3 align-items-center">
              <div class="col-12">
                <div class="form-check form-switch float-start me-3">
                  <label class="form-check-label" for="initiate-from-assistant">Initiate from the assistant</label>
                  <input class="form-check-input" type="checkbox" id="initiate-from-assistant">
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-2">
                <button id="start" class="btn btn-primary text-nowrap" disabled="disabled"><i class="fas fa-rocket"></i> <span id="start-label">Start Session</span></button>
              </div>
            </div>
          </div>

          <div id="main-panel" class="rounded p-3 shaded-panel" style="display :none;">
            <h5 class="pb-0 mb-0" style="color: #777;"><span class="text"><i class="fas fa-comments"></i> Dialog</span></h5>
            <div id="discourse" style="width: 100%; border: 0xp; overflow-y: auto; display: none;"></div>

            <div id="temp-card" class="card mt-3" style="display:none;">
              <div class="card-header p-2 ps-3 d-flex align-items-center justify-content-between">
                <div class="fs-5 card-title mb-0">
                  <span class='text-secondary'><i class='fas fa-bars'></i></span>
                  <span class='fw-bold assistant-color'>Assistant</span>
                </div>
                <div class="me-1 text-secondary d-flex align-items-center">
                  <span id="cancel-query" class="me-3 text text-danger">CANCEL <i class="fa-regular fa-circle-stop"></i></span>
                  <span id="indicator" class="spinner spinner-grow spinner-grow-sm text-warning float-end growing-spinner"></span>
                </div>
              </div>
              <div class="card-body role-assistant pb-0">
                <div id="chat" class="card-text pt-0 color: #333; font-weight: 700"></div>
                <div id="chat-bottom" style="color: transparent;">■</div>
              </div>
            </div>

            <div id="user-panel" class="mt-3">

              <div class="row">
                <div class="col-auto d-flex align-items-center mt-3">
                  <div class="form-check form-switch me-3">
                    <input class="form-check-input" type="checkbox" id="check-easy-submit">
                    <label class="form-check-label" for="check-easy-submit">Use easy submit (enter key or stop button)</label>
                  </div>
                  <div class="form-check form-switch me-3" id="auto-speech-form">
                    <input class="form-check-input" type="checkbox" id="check-auto-speech">
                    <label class="form-check-label" for="check-auto-speech">Auto speech</label>
                  </div>
                </div>

                <div class="col-auto d-flex align-items-center mt-3">
                  <label class="form-check-lebel me-2" for="select-role">Role</label>
                  &nbsp;
                  <div style="display: inline-block; max-width: 100%;">
                    <span style="font-size: 1.3em; vertical-align: bottom; color: #777;" id="role-icon"><i class="fa-solid fa-face-smile"></i></span>
                  </div>
                  &nbsp;
                  &nbsp;
                  <select id="select-role" class="form-select me-3">
                    <option value="user">User</option>
                    <option value="sample-user">User (to add to past messages)</option>
                    <option value="sample-assistant">Assistant (to add to past messages)</option>
                    <option value="sample-system">System (to provide additional direction)</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-12 h-25 mt-3">
                  <textarea id="message" class="form-control" style="resize: vertical;" rows="4" placeholder="Type your message..." ></textarea>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-auto">
                  <div class="d-flex align-items-center">
                    <button id="send" class="btn btn-primary me-2"><i class="fas fa-paper-plane"></i> Send</button>
                    <button id="clear" class="btn btn-secondary me-2" ><i class="fas fa-eraser"></i> Clear</button>
                    <button id="voice" class="btn btn-warning fixed-width me-0" ><i class="fas fa-microphone"></i> Voice Input</button>
                  </div>
                </div>
                <div class="col-auto p-0">
                  <div id="amplitude" style="display: none;">
                    <div style="display: inline-block; margin-top: 6px;">
                      <div style="display: flex; align-items: flex-end;">
                        <canvas id="amplitude-chart" style="width: 150px; height: 28px;" width="300" height="56"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="error-box-wrapper">
      <div id="error-box" class="alert alert-danger alert-dismissible shaded" style="display:none;">
        <div class="text-secondary d-flex justify-content-between align-items-center">
          <span class="like-h5"><i class="fas fa-circle-exclamation"></i> Error</span>
          <button id="error-close" type="button" class="btn-sm btn-close" style="box-shadow:none;"></button>
        </div>
        <div id="error-message" class="pt-2"></div>
      </div>
    </div>

    <div id="alert-box-wrapper">
      <div id="alert-box" class="alert alert-warning alert-dismissible shaded">
        <div class="text-secondary d-flex justify-content-between align-items-center">
          <span class="like-h5"><i class="fas fa-gauge"></i> Status</span>
          <button id="alert-close" type="button" class="btn-sm btn-close" style="box-shadow:none;"></button>
        </div>
        <div class="pt-2">Please wait...</div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="resetConfirmation" tabindex="-1" aria-labelledby="resetConfirmationLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="resetConfirmationLabel"><i class="fas fa-arrows-rotate"></i> Reset</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" style="box-shadow:none;" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to reset the chat?
          </div>
          <div class="modal-footer">
            <button type="button" id="resetConfirmed" class="btn btn-primary">Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="clearConfirmation" tabindex="-1" aria-labelledby="clearConfirmationLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="clearConfirmationLabel"><i class="fa-solid fa-broom"></i> Clear Conversation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" style="box-shadow:none;" aria-label="Keep"></button>
          </div>
          <div class="modal-body">
            Do you want to clear the current conversation?
          </div>
          <div class="modal-footer">
            <button type="button" id="clearConfirmed" class="btn btn-primary">Clear</button>
            <button type="button" id="clearNotConfirmed" class="btn btn-primary">Keep</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="pdfDeleteConfirmation" tabindex="-1" aria-labelledby="pdfDeleteConfirmationLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="pdfDeleteConfirmationLabel"><i class="fas fa-trash"></i> Delete PDF</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" style="box-shadow:none;" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete <span style="font-weight: bold; color: #777;" id="pdfToDelete"></span>?
          </div>
          <div class="modal-footer">
            <button type="button" id="pdfDeleteConfirmed" class="btn btn-primary">Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="loadModal" tabindex="-1" aria-labelledby="loadModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loadModalLabel"><i class="fas fa-file-export"></i> Load File</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" style="box-shadow:none;" aria-label="Close"></button>
          </div>
          <form action="/load" method="post" enctype="multipart/form-data" type="hidden">
            <div class="modal-body">
              <label for="file-load" class="form-label">Select file to load</label>
              <input id="file-load" class="form-control" type="file" name="file" accept=".json">
            </div>
            <div class="modal-footer">
              <button id="import-button" type="submit" value="load" class="btn btn-primary" disabled>Load</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="pdfModalLabel"><i class="fas fa-file-pdf"></i> Import PDF</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" style="box-shadow:none;" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <label class="form-label" for="pdf-title">PDF Title (Optional)</label>
            <div class="mb-3">
              <input placeholder="File name will be used if not provided" class="form-control" id="pdf-title"></input>
            </div>

            <label for="pdfFile" class="form-label">PDF to import</label>
            <input class="form-control" id="pdfFile" type="file" name="pdfFile" accept=".pdf">
          </div>
          <div class="modal-footer">
            <div class="spinner-border" role="status" id="pdf-spinner" style="display: none;">
              <span class="visually-hidden">Loading...</span>
            </div>
            <button type="submit" id="uploadPDF" value="pdf" class="btn btn-primary" disabled>Import</button>
          </div>
        </div>
      </div>
    </div>

    <div id="back_to_top" style="display: none;"><a href="#"><i class="fas fa-arrow-up"></i></a></div>
    <div id="back_to_bottom" style="display: none;"><a href="#"><i class="fas fa-arrow-down"></i></a></div>

    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha512-pax4MlgXjHEPfCwcJLQhigY7+N8rt6bVvWLFyUMuxShv170X53TRzGPmPkZmGBhk+jikR8WBM4yl7A9WMHHqvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
      MathJax = {
        tex: {
          inlineMath: [
            ['$', '$'],
            ['\\(', '\\)']
          ]
        },
        options: {
          skipHtmlTags: ["script", "noscript", "style", "textarea", "pre", "code"]
        }
      };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.min.js" integrity="sha512-6FaAxxHuKuzaGHWnV00ftWqP3luSBRSopnNAA2RvQH1fOfnF/A1wOfiUWF7cLIOFcfb1dEhXwo5VG3DAisocRw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/monadic/cards.js?timestamp=<%= @timestamp %>"></script>
    <script src="js/monadic/utilities.js?timestamp=<%= @timestamp %>"></script>
    <script src="js/monadic/websocket.js?timestamp=<%= @timestamp %>"></script>
    <script src="js/monadic/tts.js?timestamp=<%= @timestamp %>"></script>
    <!--<script src="js/monadic/speech.js?timestamp=<%= @timestamp %>"></script>-->
    <script src="js/monadic/recording.js?timestamp=<%= @timestamp %>"></script>
    <script src="js/monadic.js?timestamp=<%= @timestamp %>"></script>
  </body>
</html>
