<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Monadic Chat</title>

    <!-- Local Montserrat font, with Google Fonts as fallback -->
    <link rel="stylesheet" href="vendor/css/montserrat.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS (local or CDN) -->
    <link rel="stylesheet" href="vendor/css/bootstrap.min.css" onerror="this.onerror=null;this.href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css';this.integrity='sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==';this.crossOrigin='anonymous';this.referrerPolicy='no-referrer';">

    <!-- jQuery UI CSS (local or CDN) -->
    <link rel="stylesheet" href="vendor/css/jquery-ui.min.css" onerror="this.onerror=null;this.href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/themes/base/jquery-ui.min.css';this.integrity='sha512-TFee0335YRJoyiqz8hA8KV3P0tXa5CpRBSoM0Wnkn7JoJx1kaq1yXL/rb8YFpWXkMOjRcv5txv+C6UluttluCQ==';this.crossOrigin='anonymous';this.referrerPolicy='no-referrer';">

    <!-- Font Awesome CSS (local or CDN) -->
    <link rel="stylesheet" href="vendor/css/all.min.css" onerror="this.onerror=null;this.href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css';this.integrity='sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==';this.crossOrigin='anonymous';this.referrerPolicy='no-referrer';">

    <!-- ABC.js CSS (local or CDN) -->
    <link rel="stylesheet" href="vendor/css/abcjs-audio.min.css" onerror="this.onerror=null;this.href='https://cdn.jsdelivr.net/npm/abcjs@6.4.4/abcjs-audio.min.css'">
    
    <!-- Example of how to add a new library
    <link rel="stylesheet" href="vendor/css/newlib.min.css" onerror="this.onerror=null;this.href='https://cdn.example.com/newlib.min.css'">
    -->

    <link href="css/pigments-default.css?timestamp=<%= @timestamp %>" rel="stylesheet">
    <link href="css/monadic.css?timestamp=<%= @timestamp %>" rel="stylesheet">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  </head>
  <body>

    <div class="navbar-container">
      <nav class="navbar navbar-expand-md navbar-light fixed-top shaded-y" id="main-nav">
        <div class="container-fluid pt-0">
          <span class="navbar-brand" style="flex: auto;">
            <div style="margin-left: 6px; margin-top: -10px; font-weight: 500; font-family: 'Montserrat', sans-serif; letter-spacing: 0.12em;" >
              <img class="reset-area" src="img/monadic-logo.svg" style="width: 2em; vertical-align:middle;"></img>
              <span class="reset-area" style="color: #666; font-size: 1.7em; vertical-align:middle;">Monadic</span>
              <span class="reset-area" style="color: #ffc107; filter:drop-shadow(1px 1px 0px #999); font-weight: bold; font-size: 2.0em; position: relative; bottom: -0.15em;"></span>
              <span class="reset-area" style="color: #666; font-size: 1.7em; vertical-align:middle;">Chat</span>
            </div>
            <div id="tagline" style="margin-left: 6px; margin-bottom: 6px; font-size: 0.8em; color: #777; font-family: 'Montserrat';">Grounding AI Chatbots with Full Linux Environment on Docker</div>
          </span>

          <div id="cancel_query"><i class="far fa-window-close"></i> <span>CANCEL</span></div>
          <button type="button" id="toggle-menu">
            <span class="navbar-toggler-icon"></span>
          </button>

        </div>
      </nav>
    <div>
    <div class="container-fluid pt-0 p-3" id="contents" style="margin-top: 108px;">
      <div class="row g-3 mt-3 my-3">
        <div id="menu" class="col-md-4 order-md-2 scrollable" style="padding-bottom: 20px;">
          <div id="monadic-info-panel" class="p-3 mb-3 rounded shaded-panel">
            <h5 class="pb-2 mb-1"><span class="text"><i class="fas fa-message"></i></span> Monadic Chat Info</h5>
            <div class="mb-2" style="display: flex; align-items: center;">
              <div id="monadic-homepage">
                <span class="text text-secondary"><i class="fa-solid fa-house"></i> <a href="https://yohasebe.github.io/monadic-chat/#/?id=monadic-chat" target="_blank" rel="noopener noreferrer">Homepage</a></span>
                &nbsp;&nbsp;
                <span class="text text-secondary"><i class="fa-brands fa-github"></i> <a href="https://github.com/yohasebe/monadic-chat" target="_blank" rel="noopener noreferrer">GitHub</a></span>
              </div>
            </div>
            <div class="mb-4" style="display: flex; align-items: center;">
              <div id="monadic-version">
                <span class="text text-secondary"><i class="fa-solid fa-circle-info"></i> Version:</span> <span class="text text-secondary" id="monadic-version-number"></span>
              </div>
            </div>

            <h5><span class="text"><i class="fas fa-bolt"></i></span> Current Base App</h5>
            <div style="display: flex; align-items: center;">
              <div class="icon-container">
                <span id="base-app-icon" class="app-icon"></span>
              </div>
              <div id="base-app-title" class="ms-2 like-h5"></div>
              <div class="ms-2 like-h6">
                <span id="monadic-badge" class="badge bg-secondary fw-bold" style="display: none;">monadic</span>
                <span id="tools-badge" class="badge bg-secondary fw-bold" style="display: none;">tools</span>
                <span id="websearch-badge" class="badge bg-secondary fw-bold" style="display: none;">web</span>
                <span id="math-badge" class="badge bg-secondary fw-bold" style="display: none;">math</span>
              </div>
            </div>
            <div id="base-app-desc" class="mt-2 mb-1"></div>
          </div>

          <div id="api-token-panel" class="p-3 mb-3 rounded shaded-panel">
            <h5><span class="text"><i class="fa-solid fa-square-check"></i> Monadic Chat Status</span></h5>
            <div id="alert-message" class="mt-3 mb-3 text">Not started</div>
            
            <h5><span class="text"><i class="fa-solid fa-robot"></i></span> Model Selected</h5>
            <div class="mb-4 mt-3 text">
              <span id="model-selected">Not selected</span>&nbsp;&nbsp;
              <span id="model-non-default" class="fw-semibold" style="display:none;">non-default model</span>
            </div>
            <h5><span class="text"><i class="fas fa-chart-line"></i> Statistics</span></h5>
            <div id="stats-message" class="mt-3 text">No data available</div>
          </div>

          <div id="pdf-panel" class="p-3 mb-3 rounded shaded-panel" style="display: none;">
            <h5 class="pb-2"><span class="text"><i class="fas fa-database"></i></span> PDF Database</h5>
            <div class="like-h6"><i class="fas fa-file-pdf"></i> Uploaded PDF</div>
            <div class="mt-3" id="pdf-titles"></div>
          </div>

          <div id="control-panel" class="p-3 mb-3 rounded shaded-panel">
            <h5 class=""><span class="text"><i class="fas fa-file"></i> Session</span></h5>
            <button class="btn btn-sm btn-warning m-2 ms-0" id="reset"><i class="fas fa-stop" ></i> Reset</button>
            <button class="btn btn-sm btn-warning m-2 ms-0" id="load"><i class="fas fa-file-import"></i> Import</button>
            <button class="btn btn-sm btn-warning m-2 ms-0" id="save"><i class="fas fa-file-export"></i> Export</button>
            <input type="file" id="fileInput" style="display:none;">
            <div class="mt-1 mb-1"> Press "reset" to clear conversation and go back to the default "chat" app.</div>

            <div id="back-to-settings" style="display: none;">
            <button class="btn btn-sm btn-warning m-2 ms-0" id="settings"><i class="fas fa-bars"></i> Settings</button>
            <div class="mt-1 mb-1"> Press "settings" to go back to Chat settings.</div>
            </div>
          </div>

          <div id="tts-panel" class="p-3 mb-3 rounded shaded-panel">
            <h5 class=""><span class="text"><i class="fas fa-comment-dots"></i> Speech</span></h5>

            <div class="my-1">
              <label for="tts-provider" class="div-label my-2">Text-to-Speech Provider</label>
              <select class="form-select form-select-sm" id="tts-provider">
                <option id="openai-tts-4o" value="openai-tts-4o" selected>OpenAI (4o TTS)</option>
                <option id="openai-tts" value="openai-tts">OpenAI (TTS)</option>
                <option id="openai-tts-hd" value="openai-tts-hd">OpenAI (TTS HD)</option>
                <option id="elevenlabs-provider-option" value="elevenlabs" disabled>ElevenLabs</option>
              </select>
            </div>

            <div id="elevenlabs-voices" class="my-1" style="display: none;">
              <label for="tts-voice" class="div-label my-2">Elevenlabs Text-to-Speech Voice</label>
              <select class="form-select form-select-sm" id="elevenlabs-tts-voice">
              </select>
            </div>

            <div id="openai-voices" class="my-1">
              <label for="tts-voice" class="div-label my-2">OpenAI Text-to-Speech Voice</label>
              <select class="form-select form-select-sm" id="tts-voice">
                <option value="alloy">Alloy</option>
                <option value="ash">Ash</option>
                <option value="ballad">Ballad</option>
                <option value="coral">Coral</option>
                <option value="echo">Echo</option>
                <option value="fable">Fable</option>
                <option value="onyx">Onyx</option>
                <option value="nova">Nova</option>
                <option value="sage">Sage</option>
                <option value="shimmer">Shimmer</option>
              </select>
            </div>

            <div class="my-1">
              <label for="tts-speed" class="div-label my-2">TTS Speed (<span id="tts-speed-value">1.00</span>)</label><br />
              <input type="range" class="div-range" min="0.70" max="1.20" step="0.01" value="1.00" id="tts-speed">
            </div>

            <div class="my-1">
              <label for="asr-lang" class="div-label my-2">Speech-to-Text (STT) Language</label>
              <select class="form-select form-select-sm" id="asr-lang">
                <option value="auto">Automatic</option>
                <hr />
                <option value="en">English</option>
                <hr />
                <option value="af">Afrikaans</option>
                <option value="ar">Arabic</option>
                <option value="hy">Armenian</option>
                <option value="az">Azerbaijani</option>
                <option value="be">Belarusian</option>
                <option value="bs">Bosnian</option>
                <option value="bg">Bulgarian</option>
                <option value="ca">Catalan</option>
                <option value="zh">Chinese</option>
                <option value="hr">Croatian</option>
                <option value="cs">Czech</option>
                <option value="da">Danish</option>
                <option value="nl">Dutch</option>
                <option value="en">English</option>
                <option value="et">Estonian</option>
                <option value="fi">Finnish</option>
                <option value="fr">French</option>
                <option value="gl">Galician</option>
                <option value="de">German</option>
                <option value="el">Greek</option>
                <option value="he">Hebrew</option>
                <option value="hi">Hindi</option>
                <option value="hu">Hungarian</option>
                <option value="is">Icelandic</option>
                <option value="id">Indonesian</option>
                <option value="it">Italian</option>
                <option value="ja">Japanese</option>
                <option value="kn">Kannada</option>
                <option value="kk">Kazakh</option>
                <option value="ko">Korean</option>
                <option value="lv">Latvian</option>
                <option value="lt">Lithuanian</option>
                <option value="mk">Macedonian</option>
                <option value="ms">Malay</option>
                <option value="mr">Marathi</option>
                <option value="mi">Maori</option>
                <option value="ne">Nepali</option>
                <option value="no">Norwegian</option>
                <option value="fa">Persian</option>
                <option value="pl">Polish</option>
                <option value="pt">Portuguese</option>
                <option value="ro">Romanian</option>
                <option value="ru">Russian</option>
                <option value="sr">Serbian</option>
                <option value="sk">Slovak</option>
                <option value="sl">Slovenian</option>
                <option value="es">Spanish</option>
                <option value="sw">Swahili</option>
                <option value="sv">Swedish</option>
                <option value="tl">Tagalog</option>
                <option value="ta">Tamil</option>
                <option value="th">Thai</option>
                <option value="tr">Turkish</option>
                <option value="uk">Ukrainian</option>
                <option value="ur">Urdu</option>
                <option value="vi">Vietnamese</option>
                <option value="cy">Welsh</option>
              </select>
            </div>
          </div>

          <div class="mx-2 me-1" style="display: flex; align-items: center; justify-content: right;">
            <div id="author">
              <span class="text text-secondary"><i class="fa-solid fa-copyright"></i> Yoichiro HASEBE 2025 </span>
            </div>
          </div>
        </div>

        <div id="main" class="col-md-8 order-md-1 scrollable" style="padding-bottom: 20px;">
          <div id="config" class="rounded p-3 shaded-panel">
            <h5 class="pb-0" style="color: #777; margin-top: 0.5em;"><span class="text"><i class="fa-solid fa-bars"></i> Chat Settings</span></h5>


            <form class="row my-2">
              <div class="col-5">
                <label class="form-label" for="apps">Base App</label>
                <div class="select-wrapper">
                  <select class="form-select form-select-sm me-3 select" id="apps">
                  </select>
                </div>
              </div>
              <div class="col-3 ms-2">
                <label class="form-label text-nowrap" for="context-size-toggle">Max Context Size</label>
                <div class="d-flex align-items-center gap-2">
                  <input class="form-check-input mt-0" type="checkbox" id="context-size-toggle" checked="">
                  <input type="number" id="context-size" min="1" max="9999" stop="1" value="100" class="form-control form-control-sm" />
                </div>
              </div>
              
              <div class="col-3 ms-2">
                <label class="form-label text-nowrap" for="max-tokens-toggle">Max Output Tokens</label>
                <div class="d-flex align-items-center gap-2">
                  <input class="form-check-input mt-0" type="checkbox" id="max-tokens-toggle" checked="checked">
                  <input type="number" id="max-tokens" stop="1" min="100" max="999999" value="4000" class="form-control form-control-sm" />
                </div>
              </div>
            </form>

            <form class="row my-3" id="model_and_file">
              <div class="col-5">
                <label for="model" class="form-label text-nowrap">Model</label>
                <select class="form-select form-select-sm me-3" size="1" id="model" ></select>
              </div>

              <div class="col-3 ms-2">
                <label class="form-label text-nowrap" for="reasoning-effort">Reasoning Effort</label>
                <div class="d-flex align-items-center gap-2">
                  <select class="form-select form-select-sm" id="reasoning-effort">
                    <option value="low">low</option>
                    <option value="medium" selected>medium</option>
                    <option value="high">high</option>
                  </select>
                </div>
              </div>

              <div class="col-3 ms-2" id="file-div" style="display: none;">
                <div class="row">
                  <div class="col-auto">
                    <label class="form-label" for="file">PDF → DB</label>
                    <div><button class="btn btn-sm btn-warning text-nowrap" id="file"><i class="fas fa-file"></i> Import File</button></div>
                  </div>
                </div>
              </div>
            </form>

            <form class="row my-3" id="model_parameters">
              <div class="col-3">
                <label for="temperature" class="div-label my-2">Temperature <small><span id="temperature-value">0.3</span></small></label><br />
                <input type="range" class="div-range" min="0.0" max="2.0" step="0.1" value="0.3" id="temperature" style="max-width: 100%;">
              </div>

              <div class="col-3">
                <label for="presence-penalty" class="div-label my-2">Presence Penalty <small><span id="presence-penalty-value">0.0</span></small></label><br />
                <input type="range" class="div-range" min="-2.0" max="2.0" step="0.1" value="0.0" id="presence-penalty" style="max-width: 100%;">
              </div>

              <div class="col-3">
                <label for="frequency-penalty" class="div-label my-2">Frequency Penalty <small><span id="frequency-penalty-value">0.0</span></small></label><br />
                <input type="range" class="div-range" min="-2.0" max="2.0" step="0.1" value="0.0" id="frequency-penalty" style="max-width: 100%;">
              </div>
            </form>

            <div class="row my-3">
              <div id="config-initial-prompt" class="">
                <div style="display:inline-block;" class="form-check form-switch me-3">
                  <label class="form-check-label" for="initial-prompt-toggle">Show Initial Prompt for Assistant</label>
                  <input class="form-check-input" type="checkbox" id="initial-prompt-toggle">
                </div>
                <div style="display:inline-block;" class="form-check form-switch me-3">
                  <label class="form-check-label" for="prompt-caching">Prompt Caching <sup>1</sup></label>
                  <input class="form-check-input" type="checkbox" id="prompt-caching" checked>
                </div>

                <div style="display:inline-block;" class="form-check form-switch me-3">
                  <label class="form-check-label" for="websearch">Web Search <sup>2</sup></label>
                  <input class="form-check-input" type="checkbox" id="websearch">
                </div>

                <div style="display:inline-block;" class="form-check form-switch me-3">
                  <label class="form-check-label" for="mathjax">Math Rendering</label>
                  <input class="form-check-input" type="checkbox" id="mathjax">
                </div>
                <textarea class="form-control form-control-sm" style="resize: vertical;" id="initial-prompt"></textarea>
              </div>
            </div>

            <div class="row my-3">
              <div id="config-ai-user-initial-prompt" class="">
                <div style="display:inline-block;" class="form-check form-switch me-3">
                  <label class="form-check-label" for="ai-user-initial-prompt-toggle">Show Initial Prompt for AI-User</label>
                  <input class="form-check-input" type="checkbox" id="ai-user-initial-prompt-toggle">&nbsp;
                </div>
                <div style="display:inline-block;" class="form-check form-switch me-3">
                  <label class="form-check-label" for="ai-user-toggle">Enable AI-User <sup>3</sup></label>
                  <input class="form-check-input" type="checkbox" value="" id="ai-user-toggle">
                </div>
                <div style="display:inline-block;" class="form-check form-switch me-3">
                  <label class="form-check-label" for="initiate-from-assistant">Start from assistant</label>
                  <input class="form-check-input" type="checkbox" id="initiate-from-assistant">
                </div>
                <textarea class="form-control form-control-sm" style="resize: vertical;" id="ai-user-initial-prompt"></textarea>
              </div>
            </div>

            <div class="row my-3 align-items-center">
              <div class="col-12">
                <fieldset>
                  <legend>Voice Chat Interaction Controls&nbsp;
                    <span id="interaction-check-all" class="mt-2 mb-0 textbox-caption" style="font-weight: 400">
                      check all
                    </span>
                    <span class="mt-2 mb-0 textbox-caption" style="font-weight: 400">
                      /
                    </span>
                    <span id="interaction-uncheck-all" class="mt-2 mb-0 textbox-caption" style="font-weight: 400">
                      uncheck all
                    </span>
                  </legend>
                  <div class="form-check form-switch float-start me-3" id="auto-speech-form">
                    <input class="form-check-input" type="checkbox" id="check-auto-speech">
                    <label class="form-check-label" for="check-auto-speech">Auto speech</label>
                  </div>
                  <div class="form-check form-switch float-start me-3">
                    <input class="form-check-input" type="checkbox" id="check-easy-submit">
                    <label class="form-check-label" for="check-easy-submit">Easy submit <small>(with Enter key or Stop button)</small></label>
                  </div>
                </fieldset>

                <div class="textbox-caption mt-2 mb-0">
                  <sup>1</sup> <code>Prompt Caching</code> is currently controllable only for the Anthropic Claude models. 
                </div>
                <div class="textbox-caption mt-0 mb-0">
                  <sup>2</sup> <code>Web Search</code> takes effect when Tavily API Key is set in the settings.
                </div>
                <div class="textbox-caption mt-0 mb-0">
                  <sup>3</sup> <code>AI-User</code> feature can only be enabled if <code>Start from assistant</code> is disabled
                </div>

              </div>
            </div>

            <div class="row my-3">
              <div id="config-initial-prompt" class="">
                <div class="form-check form-switch">
                  <label class="form-check-label" for="auto-scroll-toggle">Auto scroll while streaming</label>
                  <input class="form-check-input" type="checkbox" id="auto-scroll-toggle" checked>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-2">
                <button id="start" class="btn btn-sm btn-primary text-nowrap" disabled="disabled"><i class="fas fa-rocket"></i> <span id="start-label">Start Session</span></button>
              </div>
            </div>
          </div>

          <div id="main-panel" class="rounded p-3 shaded-panel" style="display :none;">
            <h5 class="pb-0 mb-0" style="color: #777; margin-top: 0.5em;"><span class="text"><i class="fas fa-comments"></i> Dialog</span></h5>
            <div id="discourse" style="width: 100%; border: 0xp; overflow-y: auto; display: none;"></div>

            <div id="temp-card" class="card mt-3" style="display:none;">
              <div class="card-header p-2 ps-3 d-flex align-items-center justify-content-between">
                <div class="fs-5 card-title mb-0">
                  <span class='text-secondary'><i class='fas fa-bars'></i></span>
                  <span class='fw-bold assistant-color'>Assistant</span>
                </div>
                <div class="me-1 text-secondary d-flex align-items-center">
                  <span id="indicator" class="spinner spinner-grow spinner-grow-sm text-warning float-end growing-spinner"></span>
                </div>
              </div>
              <div class="card-body role-assistant pb-0">
                <div id="chat" class="card-text pt-0 color: #333; font-weight: 700"></div>
                <div id="chat-bottom" style="color: transparent;">■</div>
              </div>
            </div>

            <div id="user-panel" class="mt-1">
              <div class="row">
                <div class="col-12 h-25 mt-3">
                  <textarea id="message" class="form-control form-control-sm" style="resize: vertical; margin-bottom: 14px;" rows="4" placeholder="Type your message . . ." ></textarea>
                  <div class="textbox-caption" id="image-used"></div>
                  <div id="image-base64"></div>
                </div>
              </div>

              <div class="row mt-1 mb-2">
                <div class="col-auto">
                  <div class="d-flex align-items-center">
                    <button id="image-file" class="btn btn-sm btn-warning text-nowrap me-2"><i class="fas fa-image"></i> Use Image</button>
                    <button id="doc" class="btn btn-sm btn-warning text-nowrap me-2" ><i class="fa-solid fa-file-arrow-up"></i> Extract from file</button>
                    <button id="url" class="btn btn-sm btn-warning text-nowrap me-2" ><i class="fa-solid fa-globe"></i> Extract from URL</button>
                    <button id="voice" class="btn btn-sm btn-warning text-nowrap me-0" tabindex="1" ><i class="fas fa-microphone"></i> Speech Input</button>
                  </div>
                </div>
              </div>

              <div class="row" mt-1>
                <div class="col-auto d-flex align-items-center">
                  <label class="form-check-lebel me-2" for="select-role">Role</label>
                  &nbsp;
                  <div style="display: inline-block; max-width: 100%;">
                    <span style="font-size: 1.3em; vertical-align: bottom; color: #777;" id="role-icon"><i class="fa-solid fa-face-smile"></i></span>
                  </div>
                  &nbsp;
                  &nbsp;
                  <select id="select-role" class="form-select form-select-sm me-3">
                    <option value="user">User</option>
                    <option value="sample-user">User (to add to past messages)</option>
                    <option value="sample-assistant">Assistant (to add to past messages)</option>
                    <option value="sample-system">System (to provide additional direction)</option>
                  </select>
                </div>
              </div>

              <div class="mt-2 mb-0 textbox-caption" >
                <span>Press <span class="text-secondary"> Send <i class="fas fa-paper-plane"></i></span> button to send your message.</span>
                <span id="voice-note" style="display: none;">Hit <span class="text-secondary"> Enter ⏎<span> key to start/stop voice input</small>
              </div>

              <div class="row mt-3">
                <div class="col-auto">
                  <div class="d-flex align-items-center">
                    <button id="send" class="btn btn-sm btn-primary me-2"><i class="fas fa-paper-plane"></i> Send</button>
                    <button id="clear" class="btn btn-sm btn-secondary me-2"><i class="fas fa-eraser"></i> Clear</button>
                  </div>
                </div>
                <div class="col-auto p-0">
                  <div id="asr-p-value" class="textbox-caption" style="padding-top:4px;"></div>
                  <div id="amplitude" style="display: none;">
                    <div style="display: inline-block; margin-top: 6px;">
                      <div style="display: flex; align-items: flex-end;">
                        <canvas id="amplitude-chart" style="width: 150px; height: 28px;" width="300" height="56"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="back_to_bottom" ><a href="#"><i class="fas fa-arrow-down"></i></a></div>
          <div id="back_to_top" ><a href="#"><i class="fas fa-arrow-up"></i></a></div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="resetConfirmation" tabindex="-1" aria-labelledby="resetConfirmationLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="resetConfirmationLabel"><i class="fas fa-arrows-rotate"></i> Reset</h5>
            <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal" style="box-shadow:none;" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to reset the chat?
          </div>
          <div class="modal-footer">
            <div></div>
            <button type="button" id="resetConfirmed" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="pdfDeleteConfirmation" tabindex="-1" aria-labelledby="pdfDeleteConfirmationLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="pdfDeleteConfirmationLabel"><i class="fas fa-trash"></i> Delete PDF</h5>
            <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal" style="box-shadow:none;" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete <span style="font-weight: bold; color: #777;" id="pdfToDelete"></span>?
          </div>
          <div class="modal-footer">
            <div></div>
            <button type="button" id="pdfDeleteConfirmed" class="btn btn-sm btn-primary">Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Message Delete Confirmation Modal -->
    <div class="modal fade" id="deleteConfirmation" tabindex="-1" aria-labelledby="deleteConfirmationLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteConfirmationTitle"><i class="fas fa-trash"></i> Delete Message</h5>
            <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal" style="box-shadow:none;" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>How would you like to delete this message?</p>
            <p><strong>Message:</strong> <span id="messageToDelete" style="font-weight: normal; color: #777;"></span></p>
          </div>
          <div class="modal-footer flex-column align-items-stretch">
            <button type="button" id="deleteMessageAndSubsequent" class="btn btn-sm btn-warning mb-2">Delete this and all subsequent messages</button>
            <button type="button" id="deleteMessageOnly" class="btn btn-sm btn-warning mb-2">Delete this message only</button>
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <!-- loading procedure is implemented in monadic.rb -->
    <div class="modal fade" id="loadModal" tabindex="-1" aria-labelledby="loadModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loadModalLabel"><i class="fas fa-file-export"></i> Load File</h5>
            <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal" style="box-shadow:none;" aria-label="Close"></button>
          </div>
          <form action="/load" method="post" enctype="multipart/form-data" type="hidden">
            <div class="modal-body">
              <label for="file-load" class="form-label">Select file to load</label>
              <input id="file-load" class="form-control form-control-sm" type="file" name="file" accept=".json">
            </div>
            <div class="modal-footer">
              <div></div>
              <button id="import-button" type="submit" value="load" class="btn btn-sm btn-primary" disabled>Load</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="fileModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="fileModalLabel"><i class="fas fa-file"></i> Import File</h5>
            <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal" style="box-shadow:none;" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label class="form-label" for="file-title">File Title (Optional)</label>
            <div class="mb-3">
              <input placeholder="File name will be used if not provided" class="form-control form-control-sm" id="file-title"></input>
            </div>
            <label for="fileFile" class="form-label">File to import</label>
            <input class="form-control form-control-sm" id="fileFile" type="file" name="fileFile">
          </div>
          <div class="modal-footer">
            <div></div>
            <div class="spinner-border" role="status" id="file-spinner" style="display: none;">
              <span class="visually-hidden">Loading . . .</span>
            </div>
            <button type="submit" id="uploadFile" value="file" class="btn btn-sm btn-primary" disabled>Import</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="docModal" tabindex="-1" aria-labelledby="docModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="docModalLabel"><i class="fa-brands fa-markdown"></i> Extract from file</h5>
            <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal" style="box-shadow:none;" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label class="form-label" for="doc-label">Label (Optional)</label>
            <div class="mb-3">
              <input placeholder="Text placed at the top of the document" class="form-control form-control-sm" id="doc-label"></input>
            </div>
            <label for="docFile" class="form-label">Document to convert<br />[pdf, docx, pptx, xlsx, and any text-based files]</label>
            <input class="form-control form-control-sm" id="docFile" type="file" name="docFile">
          </div>
          <div class="modal-footer">
            <div></div>
            <div class="spinner-border" role="status" id="doc-spinner" style="display: none;">
              <span class="visually-hidden">Loading . . .</span>
            </div>
            <button type="submit" id="convertDoc" value="doc" class="btn btn-sm btn-primary" disabled>Convert</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="urlModal" tabindex="-1" aria-labelledby="urlModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="urlModalLabel"><i class="fa-brands fa-markdown"></i> Extract from URL</h5>
            <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal" style="box-shadow:none;" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label class="form-label" for="urlLabel">Label (Optional)</label>
            <div class="mb-3">
              <input placeholder="Text placed at the top of the webpage contents" class="form-control form-control-sm" id="urlLabel"></input>
            </div>
            <label for="pageURL" class="form-label">URL of the page to fetch</label>
            <div class="mb-3">
              <input placeholder="URL must start with http:// or https://" class="form-control form-control-sm" id="pageURL"></input>
            </div>
          </div>
          <div class="modal-footer">
            <div></div>
            <div class="spinner-border" role="status" id="url-spinner" style="display: none;">
              <span class="visually-hidden">Loading . . .</span>
            </div>
            <button type="submit" id="fetchPage" value="url" class="btn btn-sm btn-primary" disabled>Convert</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="imageModalLabel"><i class="fas fa-image"></i> Select File</h5>
            <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal" style="box-shadow:none;" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label for="imageFile" class="form-label">File to import (.pdf, .jpg, .jpeg, .png, .gif)</label>
            <input class="form-control form-control-sm" id="imageFile" type="file" name="imageFile" accept=".pdf,.jpg,.jpeg,.png,.gif">
          </div>
          <div class="modal-footer">
            <div id="select_image_error" class="size-error text-warning mb-2"></div>
            <button type="submit" id="uploadImage" value="image" class="btn btn-sm btn-primary" disabled>Import</button>
          </div>
        </div>
      </div>
    </div>
    <!-- FontAwesome Spinner `#spinner i`-->
    <div id="monadic-spinner">
      <span><i class="fas fa-circle-notch fa-spin"></i> Starting</span>

    <!-- JavaScript -->
    <!-- Bootstrap JS (local or CDN) -->
    <script src="vendor/js/bootstrap.bundle.min.js" onerror="this.onerror=null;this.src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js';this.integrity='sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==';this.crossOrigin='anonymous';this.referrerPolicy='no-referrer';"></script>

    <!-- jQuery (local or CDN) -->
    <script src="vendor/js/jquery.min.js" onerror="this.onerror=null;this.src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js';this.integrity='sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==';this.crossOrigin='anonymous';this.referrerPolicy='no-referrer';"></script>

    <!-- jQuery UI (local or CDN) -->
    <script src="vendor/js/jquery-ui.min.js" onerror="this.onerror=null;this.src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js';this.integrity='sha512-MSOo1aY+3pXCOCdGAYoBZ6YGI0aragoQsg1mKKBHXCYPIWxamwOE7Drh+N5CPgGI5SA9IEKJiPjdfqWFWmZtRA==';this.crossOrigin='anonymous';this.referrerPolicy='no-referrer';"></script>

    <!-- Opus Media Recorder (local or CDN) -->
    <script src="vendor/js/OpusMediaRecorder.umd.js" onerror="this.onerror=null;this.src='https://cdn.jsdelivr.net/npm/opus-media-recorder@0.8.0/OpusMediaRecorder.umd.js';"></script>
    <script src="vendor/js/encoderWorker.umd.js" onerror="this.onerror=null;this.src='https://cdn.jsdelivr.net/npm/opus-media-recorder@0.8.0/encoderWorker.umd.js';"></script>

    <script>
      window.MathJax = {
        startup: {
          typeset: false
        },
        tex: {
          inlineMath:  [ ['$', '$'], ['\\(', '\\)'] ],
          displayMath: [ ['$$', '$$'], ['\\[','\\]'] ],
          processEscapes: true
        },
        options: {
          skipHtmlTags: ["script", "noscript", "style", "textarea", "pre", "code"],
        }
      };
    </script>
    <!-- MathJax (local or CDN) -->
    <script src="vendor/js/tex-mml-chtml.min.js" onerror="this.onerror=null;this.src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.min.js';this.crossOrigin='anonymous';this.referrerPolicy='no-referrer';"></script>

    <!-- Mermaid (local or CDN) -->
    <script src="vendor/js/mermaid.min.js" onerror="this.onerror=null;this.src='https://cdn.jsdelivr.net/npm/mermaid@11.4.1/dist/mermaid.min.js';"></script>

    <!-- ABC.js (local or CDN) -->
    <script src="vendor/js/abcjs-basic-min.min.js" onerror="this.onerror=null;this.src='https://cdn.jsdelivr.net/npm/abcjs@6.4.4/dist/abcjs-basic-min.min.js';"></script>
    

    <script src="js/monadic/model_spec.js?timestamp=<%= @timestamp %>"></script>
    <script src="js/monadic/cards.js?timestamp=<%= @timestamp %>"></script>
    <script src="js/monadic/utilities.js?timestamp=<%= @timestamp %>"></script>
    <script src="js/monadic/websocket.js?timestamp=<%= @timestamp %>"></script>
    <script src="js/monadic/tts.js?timestamp=<%= @timestamp %>"></script>
    <script src="js/monadic/recording.js?timestamp=<%= @timestamp %>"></script>
    <script src="js/monadic/select_image.js?timestamp=<%= @timestamp %>"></script>
    <script src="js/monadic.js?timestamp=<%= @timestamp %>"></script>
  </body>
</html>
